.style {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding-left: 100px;
    padding-right: 200px;
}
.style img {
    width: 150px;
}

